[submodule "Empirical"]
	path = Empirical
	url = https://github.com/devosoft/Empirical.git
[submodule "ec_ecology_toolbox"]
	path = ec_ecology_toolbox
	url = https://github.com/shakiba-shb/ec_ecology_toolbox.git
